---
layout: mydefault
title: Blog
---
<!-- post list -->
<ul class="b8t_list">
{% for post in paginator.posts %}
    <li class="b8t_listline">
      <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      {% if post.meta %}<span class="b8t_cell"> {{ post.meta }} </span>{% endif %}
      {% if post.category %}<span class="b8t_cell"> {{ post.category }} </span>{% endif %}
      {% if post.tag %}<span class="b8t_cell"> {{ post.tag }} </span>{% endif %}
    </li>
{% endfor %}
</ul>


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href= {{ "/blog/" | relative_url }} >{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

